<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{37,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{36,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{36,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>dots.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{14,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,31}}</string>
                <key>sourceSize</key>
                <string>{14,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>font.png</string>
            <key>size</key>
            <string>{482,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eb2c5a667e50a6d28ea7d0e39fa32fd:714a7f760c16ae9da918d52dd3e8a902:90bd8558f1bc1540882ee9b431362e98$</string>
            <key>textureFileName</key>
            <string>font.png</string>
        </dict>
    </dict>
</plist>
